<nav class="navbar navbar-light">
  <div class="container">
    <a
      class="navbar-brand"
      style="mix-blend-mode: unset; height: 100%"
      routerLink="/"
      ><img src="assets/logo_conduit.png"
    /></a>

    <!-- Show this for logged out users -->
    <ul *appShowAuthed="false" class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/"
          style="mix-blend-mode: unset !important"
        >
          Home
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/login"
          routerLinkActive="active"
          style="mix-blend-mode: unset !important"
        >
          Sign in
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/register"
          routerLinkActive="active"
          style="mix-blend-mode: unset !important"
        >
          Sign up
        </a>
      </li>
    </ul>

    <!-- Show this for logged in users -->
    <ul
      *appShowAuthed="true"
      class="nav navbar-nav pull-xs-right"
      style="mix-blend-mode: unset !important"
    >
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/editor"
          routerLinkActive="active"
          style="mix-blend-mode: unset !important"
        >
          <i class="ion-compose"></i>&nbsp;New Article
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/settings"
          routerLinkActive="active"
          style="mix-blend-mode: unset !important"
        >
          <i class="ion-gear-a"></i>&nbsp;Settings
        </a>
      </li>

      <li class="nav-item" *ngIf="currentUser$ | async as currentUser">
        <a
          class="nav-link"
          [routerLink]="['/profile', currentUser.username]"
          style="mix-blend-mode: unset !important"
          routerLinkActive="active"
        >
          <img
            [src]="currentUser.image"
            *ngIf="currentUser.image"
            style="mix-blend-mode: unset !important"
            class="user-pic"
          />
          {{ currentUser.username }}
        </a>
      </li>
    </ul>
  </div>
</nav>
