<app-layout-header></app-layout-header>
<div style="position: absolute">
  <img
    style="width: 100vw; height: 20%"
    src="/assets/DSCF2734.JPG?t={{ getRandom() }}"
  />
  <img
    style="width: 100vw; height: 20%"
    src="/assets/opo0328a.jpg?t={{ getRandom() }}"
  />
  <img
    style="width: 100vw; height: 20%"
    src="/assets/seal1.jpg?t={{ getRandom() }}"
  />
  <img
    style="width: 100vw; height: 20%"
    src="/assets/digital-lavender-natural-landscape.jpg?t={{ getRandom() }}"
  />
  <img
    style="width: 100vw; height: 20%"
    src="/assets/1315357.jpeg?t={{ getRandom() }}"
  />
  <img
    style="width: 100vw; height: 20%"
    src="/assets/1341832.jpeg?t={{ getRandom() }}"
  />
</div>

<router-outlet></router-outlet>

<audio autoplay>
  <source src="assets/Seal_SEALS_Sounds_and_Pictures.mp3" />
</audio>
<app-layout-footer></app-layout-footer>
