<app-layout-header></app-layout-header>
<div style="position: absolute">
  <img style="width: 100vw; height: 20%" src="/assets/DSCF2734.JPG" />
  <img style="width: 100vw; height: 20%" src="/assets/opo0328a.jpg" />
  <img style="width: 100vw; height: 20%" src="/assets/seal1.jpg" />
  <img
    style="width: 100vw; height: 20%"
    src="/assets/digital-lavender-natural-landscape.jpg"
  />
  <img style="width: 100vw; height: 20%" src="/assets/1315357.jpeg" />
  <img style="width: 100vw; height: 20%" src="/assets/1341832.jpeg" />
</div>

<router-outlet></router-outlet>

<app-layout-footer></app-layout-footer>
